@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/* reset Style */
* {padding: 0; margin: 0; font-family: 'Pretendard-Regular', sans-serif;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 62.5%;
    font-family: 'KoPubWorldDotum', sans-serif;
}

body {
    line-height: 1;
    font-size: 1.6rem;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}
/* reset Style */

/* contents */
#wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

.pc {display: block;}
.mob {display: none;}

.hidden {
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.inner {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.tab-wrap{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;

    ul {
        display: flex;
        justify-content: center;

        li {
            width: 50%;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

section {
    text-align: center;

    .section-bg {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    h2 {
        max-width: 486px;
        width: 80%;
        margin: 0 auto;

        img {width: 100%;}
    }

    .inner {
        > div {
            padding: 0 65px;

            img {width: 100%;}
        }
    }

    &.notice {
        padding: 80px 0 56px;
        font-family: 'Pretendard-Medium', sans-serif;
        text-align: left;

        h2 {
            width: 100%;
            margin: 0 0 30px 0;
            padding: 0 65px;
            font-family: 'Pretendard-Bold', sans-serif;
            font-size: 4rem;
        }

        .notice-list {
            padding: 0 65px;

            li {
                position: relative;
                padding-left: 20px;
                font-size: 3.6rem;
                line-height: 46px;
                letter-spacing: -2px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }
        }

        .sns-list {
            display: flex;
            width: 80%;
            max-width: 570px;
            margin: 45px auto 0;
            justify-content: space-between;

            img {width: 100%;}
        }
    }

    &.section02 {
        padding: 80px 0;
        background: url('../images/section-bg-2.jpg') no-repeat center / 1920px 100%;

        .card-list {
            display: flex;
            margin: 39px 0 34px;
            padding: 0 65px;
            justify-content: space-between;

            li {
                width: 28.5%;
                height: 480px;
                border-radius: 10px;
                border: 3px solid #1c1517;
                background: #e7e7e7 url('../images/k-milk-mark.png') no-repeat center;
            }
        }

        input[type='image'] {
            max-width: 272px;
            width: 80%;
        }
    }

    &.section03 {
        padding: 80px 0 68px;
        background: url('../images/section-bg-3.jpg') center / 1920px 100%;

        h2 {
            margin-bottom: 39px;
        }

        > div {
            max-width: 926px;
        }
    }

    &.section04 {
        padding: 82px 0 148px;
        background: url('../images/section-bg-4.jpg') no-repeat center / 1920px 100%;

        h2 {
            margin-bottom: 36px;
        }

        > div {
            max-width: 900px;
        }
    }

    &.section05 {
        color: #fff;
        background: url('../images/section-bg-5.jpg') no-repeat center / 1920px 100%;

        .notice-list {
            li {
                color: #fff;

                &:before {
                    background-color: #fff;
                }
            }
        }
    }

    &.section06 {
        z-index: 10;
    }

    &.section07 {
        margin-top: -406px;
        padding: 243px 0 149px;
        height: 956px;
        background: url('../images/section-bg-7.png') no-repeat center / 1920px 956px;
        z-index: -1;

        h2 {
            max-width: 306px;
            margin-bottom: 88px;
        }
    }

    &.section08 {
        margin-top: -127px;
        padding: 217px 0 225px;
        height: 1216px;
        background: url('../images/section-bg-8.png') no-repeat center / 1920px 1216px;

        h2 {
            margin-bottom: 67px;
            max-width: 261px;
        }
    }

    &.section09 {
        margin-top: -190px;
        padding: 291px 0 160px;
        height: 976px;
        background: url('../images/section-bg-9.png') no-repeat center / 1920px 976px;
        z-index: -1;

        h2 {
            margin-bottom: 61px;
            max-width: 217px;
        }
    }

    &.section10 {
        margin-top: -165px;
        padding: 263px 0 115px;
        background: url('../images/section-bg-10.png') no-repeat top / 1920px auto;

        .notice-list {
            li {
                color: #282828;

                &:before {
                    background-color: #282828;
                }
            }
        }
    }
}

@media screen and (max-width: 1079px){
    .pc {display: none;}
    .mob {display: block;}

    .inner {
        width: 100%;
    }

    section {
        .inner {
            > div {
                width: 90%;
                padding: 0;
                margin: 0 auto;
            }
        }

        &.section07 {
            position: relative;
            padding: 0;

            .inner {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.section08 {
            margin-top: -185px
        }

        &.section09 {
            margin-top: -320px
        }

        &.section10 {
            margin-top: -430px
        }
    }

    .section-bg {
        width: 100%;
    }
}

@media screen and (max-width: 570px){
    section {
        &.notice {
            h2 {
                font-size: 3rem;
                padding: 0 30px;
            }

            .notice-list {
                padding: 0;
                margin: 0 auto;
                width: 80%;

                li {
                    font-size: 2rem;
                    line-height: 30px;

                    &:before {
                        top: 12px;
                    }
                }
            }
            .sns-list {
                li {
                    width: 20%;
                }
            }
        }

        &.section02 {
            .card-list {
                padding: 0;
                margin: 39px auto 34px;
                width: 80%;
            }
        }

        &.section07 {
            .inner {
                top: 60%;
            }
        }
    }
}
